{%extends 'all-news/base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if profile%}
    <h2>Found {{ profile|length }} of searched term {{message}}</h2>
    {% else %}
    <h2> Found 0 profile for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if profile %}
    {% for profil in profile %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1>{{profil.bio}}</h1>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{profil.profile.url}}" class="img-responsive" alt="Image">
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}