{%extends 'all-news/base.html'%}

{% block content %}
{{block.super}}

<div class="container"> <br> <br>

  <div style="border-style: ridge;">
    {% for image in images %}

    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> <br>
        <img src="{{image.image.url}}" class="img-responsive" alt="Image" height="300px" width="300px"
          style=" margin: 10px;">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> <br>

        <p> Name: {{image.name}}</p>
        <p>Caption:
          {% autoescape on %}
          {{image.caption| safe}}
          {% endautoescape %}
        </p>

        <!-- <p>{{image.likes}}</p> -->
        <!-- <p>{{image.comments}}</p> -->
        <!-- <p>{{image.profile}}</p> -->
      </div>
    </div>

    {% empty %}
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h2 class="text-center">No Post Yet</h2>
      </div>
    </div>
    {% endfor %} <br>
  </div>
</div>

{% endblock %}