{%extends 'all-news/base.html'%}

{% block content %}
{{block.super}}

<div class="container"> <br> <br>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <a href="{%url 'myaccount'%}"> <img src="https://avatarfiles.alphacoders.com/115/115265.png" alt="profile"
          height="50px" width="50px" style="border-radius: 50%;"> <strong> {{myProfile.username}} </strong></a>
    </div>
  </div>

  {% for image in images %}

  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div style="border-style: ridge;">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"> <br>
        <img src="https://avatarfiles.alphacoders.com/115/115265.png" alt="profile" height="50px" width="50px"
          style="border-radius: 50%;"> <strong> {{image.username}} </strong><br> <br>
        <img src="{{image.image.url}}" class="img-responsive" alt="Image" height="300px" width="646px">
        <br>
        <button class="btn btn-sm btn-link" type="submit"><img class="" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-128.png" alt="" width="24px"></button>



        <p>{% autoescape on %} {{image.caption| safe}} {% endautoescape %} </p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
  </div>

  {% empty %}
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h2 class="text-center">No Post Yet</h2>
    </div>
  </div>
  {% endfor %} <br>

</div>

{% endblock %}